<!DOCTYPE html>
<html lang="en">
<head>
     <!-- jquery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- materialize -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/main.css">

     <!-- Title logo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- Other font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>My Account</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper navbar-efx">
          <a href="#!" class="brand-logo logo-font">&nbsp &nbsp &nbspBILLBOARD</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for("home")}}">Home</a></li>
            <li><a href="{{url_for("account")}}">Account</a></li>
            <li><a href="{{url_for("invoice")}}">Invoices</a></li>
            <li><a href="{{url_for("bill")}}">Bills</a></li>
            <li><a href="{{url_for("addItems")}}">AddItems</a></li>
            <li><a href="{{url_for("cartdetails")}}">Cart</a></li>
            <li><a href="{{url_for("logout")}}">Logout</a></li>
          </ul>
        </div>
      </nav>
      <br>
    
      <ul class="sidenav" id="mobile-demo">
            <a href="#!" class="brand-logo logo-font mobile-logo" > &nbsp BILLBOARD</a>
            <li><a href="{{url_for("home")}}">Home</a></li>
            <li><a href="{{url_for("account")}}">Account</a></li>
            <li><a href="{{url_for("invoice")}}">Invoices</a></li>
            <li><a href="{{url_for("bill")}}">Bills</a></li>
            <li><a href="{{url_for("addItems")}}">AddItems</a></li>
            <li><a href="{{url_for("cartdetails")}}">Cart</a></li>
            <li><a href="{{url_for("logout")}}">Logout</a></li>
      </ul>

      <div class="container" style="margin-top: 50px;">
            <div class="row">
                <div class="col s12 m5 l5">
                    <img class="materialboxed image-effect-1" width="100%" height="100%" src="../static/images/dp.jpg">
                </div>
                <div class="col s12 m6 offset-m1 l6 offset-l1 profile-data">
                    <form action="" method="POST">
              
                        <p style="color:white;margin-bottom:35px;text-align:center;">{{ Invalid_Credentials }}</p>
                        
                        <div class="input-field white-text">
                        <input class="white-text" placeholder="" id="first_name" name="username" type="text" class="validate" autocomplete="off" value={{uname}}>
                        <label for="first_name">Organisation Name</label>
                        </div>

                        <div class="input-field">
                            <input class="white-text" name="email" placeholder="" id="email" type="email" class="validate" autocomplete="off" value={{email}}>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                            <input class="white-text" placeholder="" id="categories" name="categories" type="text" class="validate" autocomplete="off" value={{categories}}>
                            <label for="categories">Categories(Separate with ",")</label>
                        </div>
                        
                        <div class="input-field">
                        <input class="white-text" id="password" placeholder="" type="password" name="password" class="validate" autocomplete="off" value={{pw}}>
                        <label for="password">Password</label>
                        </div>
          
                        <br>
                        <a class="waves-effect waves-light btn modal-trigger purple lighten-1 profile-btn" href="#modal1">Upload Image</a>
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                              <h4 style="color:black">Choose your Organisation Image</h4>
                              <input style="color:black" type="file" accept="image/*">
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                          </div>
                        <button class="btn waves-effect waves-light purple lighten-1 profile-btn" type="submit" name="action">Save Profile</button>
                        <br>
                        <br>
                        </form>
                       
                </div>
            </div>
      </div>
    

    <script src="../static/js/init.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/myjavascript.js"></script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
          });
    </script>
</body>
</html>