<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- materialize -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/main.css">

     <!-- Title logo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- Other font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Edit Item Details</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper navbar-efx">
          <a href="#!" class="brand-logo logo-font">&nbsp &nbsp &nbspBILLBOARD</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for("home")}}">Home</a></li>
            <li><a href="{{url_for("account")}}">Account</a></li>
            <li><a href="{{url_for("invoice")}}">Invoices</a></li>
            <li><a href="{{url_for("bill")}}">Bills</a></li>
            <li><a href="{{url_for("addItems")}}">AddItems</a></li>
            <li><a href="{{url_for("cartdetails")}}">Cart</a></li>
            <li><a href="{{url_for("logout")}}">Logout</a></li>
          </ul>
        </div>
      </nav>
      <br>
    
      <ul class="sidenav" id="mobile-demo">
            <a href="#!" class="brand-logo logo-font mobile-logo" > &nbsp BILLBOARD</a>
            <li><a href="{{url_for("home")}}">Home</a></li>
            <li><a href="{{url_for("account")}}">Account</a></li>
            <li><a href="{{url_for("invoice")}}">Invoices</a></li>
            <li><a href="{{url_for("bill")}}">Bills</a></li>
            <li><a href="{{url_for("addItems")}}">AddItems</a></li>
            <li><a href="{{url_for("cartdetails")}}">Cart</a></li>
            <li><a href="{{url_for("logout")}}">Logout</a></li>
      </ul>



    <div class="container">

        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s12" ><a  class="active" href="#test2" style="color: darkorchid;">Edit Item Details</a></li>
                
              </ul>
            </div>
            
            <div id="test2" class="col s12 item-data">
                <form method="POST">
                <p style="color: white;text-align:center">{{invalid}}</p>
                <div class="input-field">
                    <input style="color:white" placeholder="" value={{item["product_name"]}} id="Product_Name" name="Product_Name" type="text" class="validate" autocomplete="off">
                    <label for="Product_Name">Product Name</label>
                    </div>

                    <div class="input-field">
                        <select id="category" name="category" autocomplete="off">
                            <option style="color:white" value={{item["category"]}} disabled>Choose your option</option>
                            {% for category in categories %}
                            <option value={{category}} {% if category==item["category"] %}selected {%endif%}><span>{{category}}</span></option>
                            {% endfor %}
                          </select>
                          <label for="category">Category</label>
                    </div>

                    <div class="input-field">
                        <input style="color:white" id="price" value={{item["price"]}} name="price" type="text" class="validate" autocomplete="off">
                        <label for="price">Price</label>
                    </div>
                    
                    <div class="input-field">
                        <input style="color:white" value={{item["discount"]}} id="discount" name="discount" type="text" class="validate" autocomplete="off">
                        <label for="discount">Discount</label>
                    </div>
      
                    <br>
                    <button class="btn waves-effect waves-light purple lighten-1 item-btn" type="submit" name="action">Edit item</button>
                    <br>
                  </form>
                </div>
                <br><br><br>


            </div>
           
            


          </div>
        </div>
    </div>



    <script src="../static/js/init.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/myjavascript.js"></script>
    <script>

          $(document).ready(function(){
            $('.sidenav').sidenav();
          });

    </script>
</body>
</html>